.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 48px;

  &:hover .title h1 {
    color: var(--Highlight)
  }

}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;

  h1 {
    font-weight: 700;
    color: var(--Heading);
    font-size: 28px;
    transition: color 0.2s;
    margin-bottom: 8px;
  }

  span {
    font-weight: 400;
    font-size: var(--18-px);
  }
}

.loadMore {
  margin: 24px 0 120px 0;
  color: var(--Highlight);
  font-weight: 600;
  font-size: var(--18-px);
  cursor: pointer;
}
